<!DOCTYPE html>
<html lang="en">

<head>
    <title>COVID19 Helpdesk with watson assistant</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/css/favicon.ico">
    <link rel="stylesheet" href="static/carbon-components/css/carbon-components.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <!-- <link rel="stylesheet" href="static/css/chat.css"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script> -->
</head>

<body>
    <nav class="bx--header">
        <a class="bx--header__name" href="javascript:void(0)" title="">
            <span class="bx--header__name--prefix">
                COVID19
                &nbsp;
            </span> Help Desk Dashboard
        </a>
    </nav>
    <div class="bx--grid">
        <div class="bx--row">

            <div class="bx--col-lg-12">
                <div class="outside">
                    <div class="inside">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <h4>Received Orders</h4>
                        <div class="bx--form-item">
                            <strong class="bx--file--label">Processed by Watson Assistant</strong>
                            <p class="bx--label-description">&nbsp;<strong></strong>
                            </p>
                            <table class="bx--data-table" id="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <span class="bx--table-header-label">Sl. no</span>
                                        </th>
                                        <th>
                                            <span class="bx--table-header-label">Customer Name</span>
                                        </th>
                                        <th>
                                            <span class="bx--table-header-label">Phone No.</span>
                                        </th>
                                        <th>
                                            <span class="bx--table-header-label">Order Items</span>
                                        </th>
                                        <th>
                                            <span class="bx--table-header-label">Address</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <br>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.17.0/dist/axios.min.js"></script>
<script src=" https://unpkg.com/@pusher/chatkit-client"></script>
<script src="static/javascript/script.js"></script>
<script src="static/carbon-components/scripts/carbon-components.min.js"></script>


</html>